.yelp-img{
    height: 90%;
    width: 100%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
}

.yelp-name, .yelp-reviews, .yelp-price{
    margin-bottom:5px;
}

.yelpInfoButton{
    color: rgba(255,0,0,1);
}

.yelp-name {
    cursor: pointer;
}

.yelpInside{
    height: 100%;
    width:  100%;
    position: relative;
    left: 13%;
}

.yelpInfoButton {
    cursor: pointer;
    display:inline-block;
    border-radius: 5px;
    background-color: white
}

.yelpMoreInfo {
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
}

.yelpMoreInfo.showInfo {
    opacity: 1;
    visibility: visible;
}

.yelpMoreInfoContent {
    background-color: white;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.yelpMoreInfoExit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: white;
}

.yelpContainer{
    height: 40vh;
    width: 80%;
    padding-bottom:10px;
}

.imgContainer{
    height: 100%;
    width: 100%;
    background-size: cover;
}

.yelpInfo{
    height:20%;
    position: relative;
    display: block;
    background-image: linear-gradient(to bottom,  rgba(255,0,0,0), rgba(255,0,0,1));
    margin-top: -150px;
    height: 150px;
    width: 100%;
    color:white;
}

.info-container{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    margin-top: 13px;
    font-size: 18px;
    width: 100%
}


/* MODAL SECTION */

.modalContainer {
    text-align: center;
    height: 100%;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modalBody {
    padding-top: 50px;
    height: 50%;
    position: relative;
    background: rgb(253,132,29);
    background: linear-gradient(0deg, rgba(247, 179, 76, .2) 1%, rgba(247, 201, 63, .5) 70%);
}

.modalName {
    font-size: 1.5em;
    font-family: 'Arimo', sans-serif;
}

.modalInfo {
    margin: 20px;
    font-size: 1.2rem;
    font-family: 'Arimo', sans-serif;
}

.modalPicContainer {
    height: 50%;
    position: relative;
}

.slickPics {
    height: 40vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.reviewCount {
    color: rgb(114, 114, 114);
}
